.typewriter {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: #4f46e5;
  margin-left: 4px;
  animation: blink 1.5s infinite;
  vertical-align: bottom;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
